// Google fonts import
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
// Import SCSS partials | Atomic Design
// http://atomicdesign.bradfrost.com/chapter-2/
@import 'abstracts/base';
@import 'atoms/base';
@import 'molecules/base';
@import 'templates/base';
@import 'vendors/base';

// Default browser settings reset
* {
  margin: 0;
  padding: 0;

  // Zorgt ervoor dat de borders binnen het element blijven en dit niet word opgeteld.
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

// Body
body {
  background: white;
  font-family: 'Roboto', sans-serif;

  // Voor het verbergen van mogelijk uitstekende content op de X-axis
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

main {

  // Geef padding het main element op elke pagina behalve als het de class .home bevat
  &:not(.home) {
    padding: rem-calc(80) rem-calc(40);
  }
}


// Callout Styles
.callout {
  max-width: rem-calc(410);
  position: relative;
  display: block;
  background: white;
  border-radius: rem-calc(3);
  min-height: rem-calc(192);
  max-height: rem-calc(180);
  box-shadow: rem-calc(1) rem-calc(1) rem-calc(4) 0 rgba(0, 0, 0, .1);
  padding: rem-calc(24) rem-calc(44) rem-calc(24) rem-calc(24);
  margin: rem-calc(42) rem-calc(18) rem-calc(18) rem-calc(18);

  // Media Queries via een mixin
  // (abstracts/mixins.scss) + (abstracts/settings.scss)
  // Als het scherm tablet formaat is of kleiner voer deze code uit
  @include set-breakpoint(tablet, down) {
    max-height: initial;
  }

  // Als het scherm smartphone formaat is of kleiner voer deze code uit
  @include set-breakpoint(smartphone, down) {
    max-width: initial;
  }

  // Route icon
  .fa-route {
    position: absolute;
    right: rem-calc(40);
    bottom: rem-calc(40);
    font-size: rem-calc(98);
    opacity: 0.1;
  }
}




aside {


  span {
    margin: rem-calc(8);
    padding: rem-calc(8);
    display: inline-block;
  }


  // Media Queries
  @include set-breakpoint(mobile, up) {
    background: #f8f8f8;
  }


  @include set-breakpoint(tablet, up) {
    border-radius: 0 0 0 rem-calc(20);
  }
}



.content {
  padding: 0 rem-calc(10);
  display: flex;
  justify-content: flex-end;


  // Media Queries
  @include set-breakpoint(mobile, up) {
    background: #f8f8f8;
    border-radius: 0 0 rem-calc(10) rem-calc(10);
  }


  @include set-breakpoint(tablet, up) {
    border-radius: 0 0 rem-calc(20) rem-calc(0);
  }

}



// Verberg item op schermen die groter zijn dan het formaat van een laptop
.on-mobile {
  display: none;

  @include set-breakpoint(laptop, down) {
    display: block;
  }
}



// Horizontale lijn met circel in het midden + icoon
.hr-line {
  height: rem-calc(2);
  background: #0000001a;
  width: 100%;
  position: relative;
  top: rem-calc(36);


  &::after {
    content: '';
    background: url("../files/plane.svg") no-repeat 70% 50%;
    height: rem-calc(54);
    width: rem-calc(54);
    position: absolute;
    background-size: rem-calc(42);
    border: solid rem-calc(2) #0000001a;
    border-radius: 50%;
    padding: rem-calc(8);
    transform: translate(-50%) rotate(-40deg);
    left: 50%;
    top: rem-calc(-26);
  }
}