@import '../abstracts/base';

// Primray card Styles
.card {
  box-sizing: border-box;
  border-radius: rem-calc(3);
  margin: rem-calc(22) 1.5%;
  animation: scl 0.5s ease-in-out;
  transform-origin: left center;
  min-width: rem-calc(200);
  max-width: rem-calc(460);
  height: max-content;
  transition: ease all 200ms;

  //background: #fff;
  //box-shadow: 0 rem-calc(14) rem-calc(28) rgba(0, 0, 0, 0.25),
  //            0 rem-calc(10) rem-calc(10) rgba(0, 0, 0, 0.22);


  &:hover {
    //box-shadow: 0 rem-calc(14) rem-calc(28) rgba(0, 0, 0, 0.25),
    //            0 rem-calc(10) rem-calc(10) rgba(0, 0, 0, 0.22);
    //transition: ease all 120ms;
  }

  // Vanaf mobiel kleinscherm en hoger
  @include set-breakpoint(mobile, up) {
    width: 100%;
  }

  // Vanaf smartphone en hoger
  @include set-breakpoint(smartphone, up) {
    width: 47%;
  }

  // Vanaf desktop monitor en hoger
  @include set-breakpoint(desktop, up) {
    width: 30%;
  }

  // .card-actions
  &-actions {
    display: flex;
    justify-content: flex-end;
    //padding: rem-calc(4) rem-calc(14) rem-calc(8) rem-calc(4);
    position: relative;
    margin-top: rem-calc(4);
    .tab-content & {
      margin-top: rem-calc(8);
    }

    .book-info {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;

      position: absolute;
      left: rem-calc(0);
      //top: rem-calc(8);
      margin-top: rem-calc(8);
    }
  }


  // .card-title
  &-title {
    //margin-top: rem-calc(-36);
    padding-bottom: rem-calc(8);
    padding-left: rem-calc(8);
    padding-top: rem-calc(8);
    color: $black;
    font-size: rem-calc(18);
    font-weight: 500;
    margin-top: rem-calc(2);
  }


  // .card-image
  &-image {
    width: 100%;
    height: rem-calc(162);

    .tab-content & {
      margin: 0 0 rem-calc(8) 0;
      height: rem-calc(228);
    }

    .image-container & {
      margin: 0;
    }
  }


  // .card-desc
  &-desc {
    padding: rem-calc(8) rem-calc(18) rem-calc(8) rem-calc(8);
    border-bottom: rem-calc(1) solid transparentize(grey, 0.7);
    height: rem-calc(64);
    overflow: hidden;
  }


  // .card-price
  &-price {

    // Position relative zodat op het onderliggende element pos absolute gebruikt kan worden
    //position: relative;
    display: flex;
    align-items: center;

    span {

      &.price {
        padding: rem-calc(0) rem-calc(6);
        border-radius: rem-calc(3);
        left: rem-calc(8);
        //margin-right: rem-calc(10);
        bottom: rem-calc(8);
      }

      &.price-attr {
        font-size: rem-calc(14);
        font-weight: lighter;
        color: #dfdfdf;
      }

    }

    &.tag {
      margin: rem-calc(20);

      span {
        top: unset;
      }
    }
  }


  // .card-action
  &-action {


    // .card-action-read-more
    &-read-more {
      margin: rem-calc(8) 0 rem-calc(8) rem-calc(8);
      height: rem-calc(38);
      //width: rem-calc(128);
      padding: 10px 12px;
      letter-spacing: rem-calc(1);
      //background: #A43ECC;
      background: #6200ee;
      border: none;
      color: $black;
      position: relative;
      overflow: hidden;
      outline: none;
      border-radius: rem-calc(3);
      background: none;
      text-transform: uppercase;
      font-weight: 600;
      transition: box-shadow 0.3s ease-in;
      //color: #661FFF;

      // .card-action-read-more.book-now
      &.book-now {
        //background: #2a49a5;
        background: #6200ee;
        color: #fff;
      }


      // .card-action-read-more:hover
      &:hover {
        background: transparentize(#6900ff, 0.2);
        transition: all 0.15s ease-in;
        cursor: pointer;
        color: white;
      }
    }


    // .card-action:hover
    &:hover {
      box-shadow: rem-calc(7) rem-calc(7) rem-calc(15) rem-calc(2) transparentize(black, 0.5);
      transition: box-shadow 0.3s ease-in;
    }
  }
}


// Sectie containers
.last-minutes, .bookings {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin: rem-calc(10) 0;
  padding: rem-calc(20) 0 rem-calc(28) 0;

  h1 {
    width: 100%;
    font-size: rem-calc(22);

    @include set-breakpoint(mobile, up) {
      margin: rem-calc(10) 0 rem-calc(4) rem-calc(12);
    }

    @include set-breakpoint(laptop, up) {
      margin: rem-calc(10) 0 rem-calc(4) rem-calc(25);
    }
  }
}

.bookings {
  padding-bottom: rem-calc(48);
}

.last-minutes {
  padding-top: rem-calc(12);
}


.contact {
  h1 {
    width: 100%;
    font-size: rem-calc(20);
    margin-bottom: rem-calc(18);
  }
}


$stars: 5;
$star-size: 18px;
$star-spacing: 2px;
$star-on-color: #fdc966;
$star-off-color: #fdc966;
// #CCCCCC

.rating {
  // Wijdte van de ster is: groote keer het aantal sterren
  // + Ster tussenruimte keer het aantal sterren -1
  width: ($star-size * $stars) + ($star-spacing * ($stars - 1));
  height: $star-size;
  justify-content: flex-start;
  display: inline-grid;
  grid-auto-flow: column;

  padding-left: rem-calc(6);
  margin-top: rem-calc(2);

  label {
    float: right;
    position: relative;
    width: $star-size;
    height: $star-size;
    cursor: pointer;

    &:not(:first-of-type) {
      padding-right: $star-spacing;
    }

    &:before {
      content: "\2605";
      font-size: $star-size + 2px;
      color: $star-off-color;
      line-height: 1;
    }
  }

  input {
    display: none;
  }

  input:checked ~ label:before,
  &:not(:checked) > label:hover:before,
  &:not(:checked) > label:hover ~ label:before {
    //color: $star-on-color;
  }
}