@import '../abstracts/base';

// Standaard tag styles overschrijven en normaliseren.
input, select, textarea {
  border-radius: rem-calc(4);
  padding: rem-calc(8);
  box-shadow: none;
  border: solid rem-calc(1) lightgray;
  font-family: 'Muli', sans-serif;
}

.material-type-form {
  padding: rem-calc(34);
  background: white;
  box-shadow: rem-calc(2) rem-calc(2) rem-calc(20) 0 transparentize(rgba(81, 81, 81, 0.54), 0.3);
}

// Contact container
.contact {
  max-width: rem-calc(700);
  margin: rem-calc(20);

  p {
    width: 76%;
  }

  @include set-breakpoint(mobile, up) {
    width: 95%;
  }

  // formulier
  .contact-form {
    width: 100%;

    button.book-now {
      margin-top: rem-calc(12);
    }

    // Container voor de input en label tags
    .field {
      position: relative;
      min-height: rem-calc(62);
      margin-top: rem-calc(10);

      input {
        padding-top: rem-calc(20);
      }

      textarea {
        padding-top: 0;
      }

      &.textarea {
        margin-top: rem-calc(42);
        padding-bottom: rem-calc(8);
      }
    }

    // Label controle
    .field-label {
      top: 0;
      margin: rem-calc(-58) 0;
      display: block;
      color: #737373;
      line-height: 62px;
      height: 24px;
      font-size: rem-calc(15);
      font-weight: 400;
      transition: font-size .15s, line-height .15s;

      // Uitzondering voor textarea
      &.textarea {
        margin-top: rem-calc(-82)
      }
    }

    // Input en textarea controle
    .field-input,
    .field-textarea {
      position: relative;
      display: block;
      width: 100%;
      padding: rem-calc(8) 0;
      line-height: rem-calc(16);
      font-size: rem-calc(16);
      background: transparent;
      border: none;
      -webkit-appearance: none;
      outline: none;
    }

    .field-input {
      height: rem-calc(32);
    }

    // Blauwe lijn animatie
    // Van links naar rechts met pseudo elementen before & after
    .field-label::after,
    .field::before {
      content: '';
      height: rem-calc(2);
      width: 100%;
      position: absolute;
      bottom: rem-calc(6);
      left: 0;
      background-color: #DDD;
    }

    .field-label::after {
      bottom: rem-calc(6);
      background-color: #2191ea;
      transform: scaleX(0);
      transition: transform 0.3s;
    }

    .field-input:invalid:focus ~ .field-label,
    .field-textarea:invalid:focus ~ .field-label,
    .field-input:valid ~ .field-label,
    .field-textarea:valid ~ .field-label {
      font-size: rem-calc(12);
      line-height: rem-calc(14);
    }

    .field-input:focus ~ .field-label,
    .field-textarea:focus ~ .field-label {
      color: #2191ea;
    }

    .field-input:focus ~ .field-label::after,
    .field-textarea:focus ~ .field-label::after {
      transform: scaleX(1);
    }
  }
}