@import "../abstracts/base";

footer {
  min-height: rem-calc(60); 
  width: 100%;
  padding: rem-calc(20) 0 rem-calc(60) 0;
  box-shadow: rem-calc(5) rem-calc(3) rem-calc(3) rem-calc(1) $black;

  .sub-grid {
    display: flex;
    justify-content: space-evenly;
  }

  .cell {

    p {
      margin-bottom: rem-calc(8);
      font-size: rem-calc(18);
    }

    h3 {
      position: relative;
      font-size: rem-calc(18);
      left: rem-calc(18);
    }

    ul {
      list-style-type: none;
      margin-left: 20px;
      margin-top: 8px;

      li {
        //
        //&::before {
        //  content: '';
        //  background: url("../files/icons/navigation.svg");
        //  height: rem-calc(12);
        //  width: rem-calc(12);
        //  background-size: contain;
        //  position: absolute;
        //  margin-left: rem-calc(-20);
        //  margin-top: rem-calc(4);
        //}
      }

    }
  }
}