@import '../abstracts/base';

.navigation {
  ul li a {
    @include transitionEaseAll02s;
  }

  &:hover {
    ul li a {
      opacity: 0.4;
    }

    &.logo {
      opacity: 1;
    }
  }

  &:hover {
    ul:hover a {
      opacity: 0.4;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.header {
  position: fixed;
  background: $white;

  box-shadow: 0 rem-calc(2) rem-calc(4) rgba(0, 0, 0, .5);
  width: 100%;
  height: rem-calc(68);
  z-index: 103;
  overflow: hidden;

  &.nav-up {
    transform: translateY(-100%);
    transition: transform .3s cubic-bezier(.4, 0, .6, 1), opacity 0s .3s;
    opacity: 0;
  }

  &.nav-down {
    opacity: 1;
    transform: translateY(0);
    transition: transform .3s cubic-bezier(.4, 0, .2, 1) .3s, opacity 0s .3s;
  }

  .js-hover.hover {
    opacity: 1.0;
  }


  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;

    a {
      // Material button stroked border
      @include material-btn-stroke;
      border: none;
      line-height: initial;
    }

    li svg {
      height: 40px;
    }

    .menu-btn:hover {
      background: #f4f4f4;
    }

    .mobile-only {
      display: block;
    }

  }

  // Anchor link hover animation
  .link {
    display: inline-block;
    color: #000;
    text-decoration: none;

    &:hover {
      opacity: .1;
    }

    &::after {
      content: '';
      display: block;
      width: 0;
      height: rem-calc(4);
      background: $purpleblue;
      transition: width .3s;
      margin-top: rem-calc(4);
    }

    &:hover::after {
      width: 100%;
      transition: width .3s;
    }

    &.active::after {
      width: 100%;
      transition: width .3s;
    }
  }

  //.logo {
  //  display: block;
  //  float: left;
  //  font-size: rem-calc(34);
  //  padding: rem-calc(10) rem-calc(20);
  //  text-decoration: none;
  //  line-height: 1.2;
  //  mix-blend-mode: screen;
  //
  //  span {
  //    color: #ff3840;
  //    font-weight: 600;
  //  }
  //}

  .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }

  .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: rem-calc(28) rem-calc(20);
    position: relative;
    user-select: none;

    .nav-icon {
      background: #333;
      display: block;
      height: rem-calc(2);
      position: relative;
      transition: background .2s ease-out;
      width: rem-calc(18);

      &::before, &::after {
        background: #333;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
      }

      &::before {
        top: rem-calc(5);
      }

      &::after {
        top: rem-calc(-5);
      }
    }
  }

  .menu-btn {
    display: none;

    &:checked {
      ~ .menu {
        max-height: rem-calc(480);
      }

      ~ .menu-icon {
        .nav-icon {
          background: transparent;

          &::before {
            transform: rotate(-45deg);
          }

          &::after {
            transform: rotate(45deg);
          }
        }


        // Uitzonder class .steps (na en voor de animatie)
        &:not(.steps) .nav-icon::before,
        &:not(.steps) .nav-icon::after {
          top: 0;
        }
      }
    }
  }

  .clip-text {
    font-size: rem-calc(22);
    margin-top: 7px;
    padding: 14px 20px;
  }
}

//1140
@media (min-width: em-calc(868)) {
  .center {
    width: 80%;
    margin: 0 auto;
  }

  .header {
    li {
      float: left;

      &.mobile-only {
        display: none;
      }

      a {
        padding: rem-calc(20) rem-calc(30);
      }
    }

    .menu {
      clear: none;
      float: right;
      max-height: none;
    }

    .menu-icon {
      display: none;
    }
  }
}